*{
    transition: all .7s ease-in-out;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}
div {
    position: relative;
    z-index: 2;
}
body {
    background-color: #333;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-body {
    align-items: center;
    text-align: center;
    font-style: italic;
}
.card-body > p {
    font-style: normal;
    text-decoration: solid;
}
.footer {
    width: 450px;
    text-align: center;
    display: block;
    margin: 15px auto 30px auto;
    color: #fff;
   
}
a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}
btn {
    margin: auto;
    height: 38px;
    cursor: pointer;
    outline: none;
}
#tweet-quote, #tumblr-quote {
    float: left;
    display: block;
    width: 50px;
    margin-left: 10px;

}
#new-quote {
    float: right;
    display: block;
    height: 40px;
    outline: none;

}